<div class="card-credito">
  {{ fields.field_icono.content}}
  <h2>{{ fields.name.content|raw|striptags|trim}} </h2>
  <h4>{{ fields.field_subtitulo.content|raw|striptags|trim}}</h4>
  <article class="pdd-buttom-15 pdd-top-10">{{ fields.description__value.content}}</article>
  <div class="ctaCustom ctaCustom--blue">{{ fields.field_enlace.content }}</div>
</div>